## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
*.csproj.user
*.dbmdl
*.jfm
*.lib
*.exp
*.idb
*.ipdb
*.iobj
.idea/
.vs/

## Certificados gerados
.requestintercept-certs/

## Build
packages/
*.nupkg
**/[Pp]ublish/
*.exe
*.dll
*.pdb
*.xml

## OS
[Dd]esktop.ini
[Dd]irectory.Browser.ini
Thumbs.db
